.prompt-button-div{
    margin-bottom: 10em;
}

.full-image {    
    width: 100%;
    border-radius: 4px;
}

.thumbnail {    
    width: 100%;
    border-radius: 4px;
    filter: blur(7px);
}

.widther {
    margin: 0 auto;
    width: 10%;
}

.prompt-card-wrapper{
    width: 40%;    
    background-color: rgba(142, 135, 93, 0.769);
}

.img-form-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3em;
    margin: 3em;
    border-radius: 1em;
    background-color: rgba(69, 68, 62, 0.769);
}
