html{
    background: url("../../Images/497165.jpg") center center fixed;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(39, 37, 37, 0.224);
}

body{
    margin: 0;
    padding: 0;
}
.navbar{
    background: rgb(44, 48, 62)
}

.outer{
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-size: 1.3em;
    color: rgb(211, 202, 202);
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img{
    margin: 0.2em 0.5em 1em 0.5em;
}

a{
    color:  rgb(211, 202, 202);
    text-decoration: none;
}